<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wordl - Game</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/styles.css') }}">
</head>
<body>
  <h1>Wordl</h1>
  
  <!-- 5x4 grid -->
  <div class="grid">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
  </div>

  <input type="text" id="guess-input" maxlength="5" placeholder="Enter your guess">
  <button id="submit-guess">Submit Guess</button>

  <div id="feedback"></div>

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
