<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wordle Clone</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/styles.css') }}">
</head>
<body>
  <h1>Wordl</h1>
  <p>Guess the 4-letter word in 5 tries. Each guess must be a valid word in the English language. Feedback will tell you which letters are correct or misplaced.</p>
  <button id="play-button">Play</button>
  <script>
        // When Play! is clicked, the page directs to the game.html component
        document.getElementById('play-button').addEventListener('click', function() {
          window.location.href = 'game.html';
        });
      </script>
    </body>
    </html>